body {
    height: 100vh;
}

.container {
    height: 100%;
}

.btn-outline-lime {
    --bs-btn-color: #22c55e;
    --bs-btn-border-color: #22c55e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #22c55e;
    --bs-btn-hover-border-color: #22c55e;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #22c55e;
    --bs-btn-active-border-color: #22c55e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #22c55e;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #22c55e;
    --bs-gradient: none;
}